.App {
  padding: 10px;
}

.input {
  border: 0;
  border-bottom: 1px solid #888;
  outline: none;
  margin-left: 5px;
  margin-bottom: 20px;
}

input:focus {
  border-color: red;
}

.err-msg {
  color: red;
}

.data {
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  padding: 5px;
  width: min-content;
  background-color: #f6f6f6;
}

.data img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.data .words {
  margin-left: 10px;
  min-width: 100px;
}

.data .words .name {
  height: 1.5em;
  margin-top: 3px;
  white-space: nowrap;
}

.data .words .qq {
  color: #666;
  font-size: 14px;
  white-space: nowrap;
}
